@charset "utf-8";
*{
    margin:0;
    padding:0;
    color:#333;
    letter-spacing: 1.5px;
}
body{
    width:960px;
    margin:0 auto !important;
    }
header{
    height:90px;
    background-color:rgba(34, 49, 52, 0.9);
    border-bottom:1px solid #CCCCCC;
    position:fixed;
    z-index: 1000;
    top:0;
    width:960px;
}
.header-left{ 
    display:flex;
}
.header-logo{
    height:88.3px;
    display:inline-block;
    margin-left:10px;
}
.header-title{
    color:white;
    margin-top:35px;
    margin-left:4px;
    font-family:'Alegreya Sans SC', sans-serif;
    font-size:25px;
    font-weight:700;
}
.main{
    height:auto;
    padding-top: 90px;
    padding-bottom: 70px;
    background-color:#F8F9F9;
}
.main h1{
    font-size: 32px;
    font-weight: 700;
    border-left: 5px solid #F5A431;
    padding:4px 0 4px 10px;
    margin-left:22px;
    margin-top: 50px;
}
.main img{
    object-fit: cover;
    height:320px;
}
.row{
    margin-bottom: 30px;
}
footer{
    background-color:rgba(34,49,52,0.9);
    height:90px;
}
footer p{
    width:100%;
    height:90px;
    line-height:90px;
    text-align:center;
    color:#F8F9F9;
}
